<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <div class="navbar-nav">
          <a href="{% url 'index' %}" class="navbar-brand">MICROSOFT</a>
          <a href="{% url 'admin:index' %}" class="nav-item nav-link">ADMIN</a>
        </div>
        <div class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="nav-item nav-link" >LOGOUT</a>
          {% else %}
            <a href="{% url 'login_out:register' %}" class="nav-item nav-link">REGISTER</a>
            <a href="{% url 'login_out:user_login' %}" class="nav-item nav-link" >LOGIN</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <br>
    <div class="container">
      {% block body_block %}

      {% endblock %}
    </div>

  </body>
</html>
